{%extends 'main/top.html' %}
{% block content %}
<style>
    .login{
        width: 60%;
    }
    .make_room_field_success h4{
        color: black;
        line-height: 5px;
        font-size: 1.4rem;
    }
    .make_room_field_success .field{
        padding: 5px;
        margin-top: 20px;
        position: relative;
    }

    .make_room_field_success a{
        width: 60%;
        border: none;
        outline: none;
        color: black;
        font-size: 1rem;
    }
    .make_room_field_success button{
        display: block;
        margin-right:10px;
        margin-left:10px;
        width: 40%;
        outline: none;
        background-color: #4277b2;
        border: 1px solid #4277b2;
        border-radius: 10px;
        color: white;
        font-size: 1rem;
        cursor: pointer;
    }

</style>
<div class="make_room_field_success">
    <h4>방 생성이 완성되었습니다</h4>
    <br>
    <div class="field" >
        <label for= "admin" class="labelid"  style="float:left;" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Admin &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
        <a class="admin" name="admin" id="admin"> {{admin}}</a>
    </div>
    <br>
    <div class="field" >
        <label for= "room_name" class="labelid"  style="float:left;" >&nbsp&nbsp&nbsp&nbsp Room Name &nbsp&nbsp&nbsp&nbsp&nbsp</label>
        <!--<input class ="admin" name="admin" id="admin" >-->
        <a class="room_name" name="room_name" id="room_name"> {{room_name}}</a>
    </div>
    <br>
    <div class="field" >
        <label for= "room_ps" class="labelid"  style="float:left;" >&nbsp&nbsp Room Password &nbsp&nbsp</label>
        <!--<input class ="admin" name="admin" id="admin" >-->
        <a class="room_ps" name="room_ps" id="room_ps"> {{room_ps}}</a>
    </div>
    <br><br>

    <center>
        <button type="button" class ="btn btn-light"  onclick="location.href='/home'"  style="float:left;"><p >이전으로</p></button>
        <button type="button" class ="myroom"  onclick="location.href='/home/myroom'" style="float:right;" ><p >MY ROOM</p></button>
    </center>
    <br><br><br><br>
</div>
{% endblock %}