{%extends 'main/top.html' %}
{% block content %}
<style>
    .btn{
        display: inline-block;
        outline: none;
        width: 100%;
        height: 200%;
        background-color: #4277b2;
        border: 1px solid #4277b2;
        border-radius: 10px;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        box-shadow: 0 9px #999;
    } 
    .btn:active {
        background-color: #4277b2;
        border: 1px solid #4277b2;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
        border-radius: 10px;
    }
</style>
<h4>MYPAGE</h4>
<br>
<div>
<button type="button" class="btn" onclick="location.href='/home/myroom1'"><p >만든 방</p></button>
<br>
<br>
<br>
<button type="button"  class="btn" onclick="location.href='/mypage'"><p >들어간 방</p></button>
</div>



{% endblock %}