{%extends 'main/top.html' %}
{% block content %}
<style>
    .login{
        width: 80%;
    }
    .edit_field h4{
        color: gray;
        line-height: 5px;
        font-size: 1.4rem;
    }
    .edit_field .field{
        padding: 5px;
        margin-top: 20px;
        position: relative;
    }
    .edit_field input{
        width: 70%;
        border: none;
        outline: none;
        border-bottom: 1px solid #999;
        color: black;
        font-size: 1rem;
    }

    .edit_field button{
        display: block;
        float:left;
        margin-right:20px;
        width: 45%;
        outline: none;
        background-color: #4277b2;
        border: 1px solid #4277b2;
        border-radius: 10px;
        color: white;
        font-size: 1rem;
        cursor: pointer;

    }
    .edit_field .labelid{
        color: gray;
    }
    .edit_field .label{
        position: absolute;
        pinter-events: none;
        left:100px;
        top: 5px;
        transition: 0.2s ease all;
        color: #A9CCE3;
    }
    .edit_field input:focus ~ .label,
    .edit_field input:not(:focus):valid ~ .label{
        top: -10px;
        font-size: .8rem;
        opacity: 1;
    }

</style>
<div class="edit_field">
    <h4>프로필 편집하기</h4>

    <form method="POST"  action ="{%url 'edit'%}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
            <div class = "form-group">
                <label for= "new_password" class="labelid">새 비밀번호&nbsp&nbsp </label>
                <input name = "password" type ="password" id="password" >
                <span class="label">(영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자)</span>
            </div>

        </div>

        <div class="field">
            <div class = "form-group">
                <label for= "re_password" class="labelid">비밀번호 확인&nbsp&nbsp </label>
                <input name = "re_password" type ="password" id="re_password" >
                <span class="label">(영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자)</span>
            </div>
        </div>

        <div class="field">
            <label for= "name" class="labelid">username&nbsp&nbsp </label>
            <input name = "name" type ="text" id="name" >
            <span class="label">김혜원</span>
        </div>

        <div align="center">
            <button type="submit" class ="edit" id="edit" > <p>저장하기</p></button>
            <button type="button" class ="btn btn-light"  onclick="location.href='/'"><p >이전으로</p></button>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="row" style="text-align:center">
                <div class="col-sm-6" style="text-align:center">
                    <div class="alert alert-danger" style="text-align:center">
                    <strong>{{ message.tags }}!</strong> {{ message.message }}
                    </div>
                </div>
                </div>
            {% endfor %}
        {% endif %}
    </form>
</div>
{% endblock %}
