{% extends 'main/top.html' %}

{% block content %}

<article class="container">
    <h1>로그인</h1>
    <form method="POST"  action ="{%url 'home'%}">
        {% csrf_token %}
        ID :
        <input name="email" type = "text">
        <br>
        Password :
        <input name = "password" type ="password">
        <br><br>
        <div align="center">
            <button type="submit" class ="btn btn-primary" ><p>로그인</p></button>
            <button type="button" class ="btn btn-light"  onclick="location.href='/signup'"><p >회원가입</p></button>

        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="row" style="text-align:center">
                <div class="col-sm-6" style="text-align:center">
                    <div class="alert alert-danger" style="text-align:center">
                    <strong>{{ message.tags }}!</strong> {{ message.message }}
                    </div>
                </div>
                </div>
            {% endfor %}
        {% endif %}
    </form>
</article>

{% endblock %}
