{%extends 'main/top.html' %}

{% block content %}
<style>
    .login{
        width: 70%;
    }
    .signup_field h4{
        color: black;
        line-height: 5px;
        font-size: 1.4rem;
    }
    .signup_field .field{
        padding: 5px;
        margin-top: 20px;
        position: relative;
    }
    .signup_field input{
        width: 70%;
        border: none;
        outline: none;
        border-bottom: 1px solid #999;
        color: black;
        font-size: 1rem;
    }

    .signup_field button{
        display: block;
        float:left;
        margin-right:10px;
        margin-left:10px;
        width: 45%;
        outline: none;
        background-color: #4277b2;
        border: 1px solid #4277b2;
        border-radius: 10px;
        color: white;
        font-size: 1rem;
        cursor: pointer;

    }
    .signup_field .labelid{
        color: gray;
    }
    .signup_field .label{
        position: absolute;
        pinter-events: none;
        left:100px;
        top: 5px;
        transition: 0.2s ease all;
        color: #A9CCE3;
    }
    .signup_field input:focus ~ .label,
    .signup_field input:not(:focus):valid ~ .label{
        top: -10px;
        font-size: .8rem;
        opacity: 1;
    }

</style>

<div class="signup_field">
    <h4>회원가입</h4>
    <br>

    <form method="POST"  action ="{%url 'signup'%}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field" >
            <label for= "email" class="labelid"  style="float:left;" >&nbsp&nbsp&nbsp&nbsp Email &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input class ="email" name="email" id="email" check_result = "fail" type = "email"  style="float:left;" >
            <span class="label">abc@gmail.com</span>
        </div>
        <button type="button" class ="id_check" id ="id_check" onclick ="id_check_func()" style=" float:right; margin-right:0px; width: 120px; background-color: gray; border: 1px solid gray;">email 확인</button>
        <br>
        <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript">
            function id_check_func(){
                id_overlap_input =document.querySelector('input[name = "email"]');
                if ( id_overlap_input.value == '') {
                    alert('이메일을 입력해주세요.');
                    return;
                }
                $.ajax({
                    url: '{%url 'signup'%}',
                    data: { 'email' : id_overlap_input.value},
                    success: function (data){
                        console.log(data['overlap']);
                        if (data['overlap'] =="fail"){
                            alert("이미 존재하는 이메일입니다.");
                            id_overlap_input.focus();
                            return;
                        }else{
                            alert("사용가능한 이메일입니다.");
                            $('.email').attr("check_result", "success");
                            return;
                        }
                    }
                })
            }

        </script>
        <br>

        <div class="field">
            <div class = "form-group">
                <label for= "password" class="labelid">&nbsp&nbsp Password&nbsp&nbsp </label>
                <input name = "password" type ="password" id="password" >
                <span class="label">(영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자)</span>
            </div>

        </div>

        <div class="field">
            <div class = "form-group">
                <label for= "re_password" class="labelid">P.W  Confirm </label>
                <input name = "re_password" type ="password" id="re_password" >
                <span class="label">(영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자)</span>
            </div>
        </div>

        <div class="field">
            <label for= "name" class="labelid">&nbsp&nbsp username&nbsp&nbsp </label>
            <input name = "name" type ="text" id="name" >
            <span class="label">김혜원</span>
        </div>

        <div class="field">
            <label for= "userimage" class="labelid">&nbsp userImage&nbsp&nbsp </label>
            <input type = "file" class="form-control" id="userimage" name="userimage"
                                        style="widows: 200px" accept=".png, .jpeg, .jpg">

        </div>
        <br>
        <br>
        <div align="center">
            <button type="button" class ="btn btn-light"  onclick="location.href='/'"><p >이전으로</p></button>
            <button type="submit" class ="signup" id="signup" > <p>회원가입</p></button>

            <script>
                $('.signup').click(function(){
                    if ($('.email').attr("check_result") == "fail"){
                        alert("아이디 중복체크를 확인하세요.");
                        $('.username_input').focus();
                        return false;
                    }
                });
            </script>
        </div>
        <br>
        <br>

        {% if messages %}
            {% for message in messages %}
                <div class="row" style="text-align:center">
                <div class="col-sm-6" style="text-align:center">
                    <div class="alert alert-danger" style="text-align:center">
                    <strong>{{ message.tags }}!</strong> {{ message.message }}
                    </div>
                </div>
                </div>
            {% endfor %}
        {% endif %}
    </form>
</div>

{% endblock %}
